* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2, 0, 36);
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(34, 24, 4, 1) 0%, rgba(56, 3, 6, 1) 35%);
    overflow-x: hidden;
}


.body-container {
    height: 100vh;

}

.nav {
    position: sticky;
    top: 0;
    z-index: 6;
}

.nav-container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: rgba(22, 1, 2);
    height: 40px;
    border-top: 2px solid hsla(179, 92%, 48%, 0.375);
    border-bottom: 2px solid hsla(179, 92%, 48%, 0.375);
    border-radius: 2px;
    box-shadow: -5px 10px 49px 0px rgba(43, 135, 181, 0.58);
    -webkit-box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    -moz-box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    z-index: 7;
    position: relative;

}

.icons {
    height: 20px;
    padding-top: 10px;
    z-index: 5;
}

.icon-container {
    height: 40px;
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-container a {
    display: block;
    padding: 0 10px;
}

.pulse {
    animation: pulse-animation 3s infinite;
}

@keyframes pulse-animation {
    20% {
        border-top: 1px solid hsla(179, 92%, 48%, 0.375);
        border-bottom: 1px solid hsla(179, 92%, 48%, 0.375);
    }

    50% {
        border-top: 2px solid rgba(9, 31, 232, 0.401);
        border-bottom: 1px solid rgba(6, 66, 196, 0.911);


    }

    75% {
        border-top: 1px solid hsl(179, 92%, 48%);
        border-bottom: 1px solid hsl(179, 92%, 48%);
    }
}

.tlv-container {
    position: relative;
}


.tlv {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    border: none;
    z-index: 1;
position: ;

}

.overlay {
    background-color: rgba(0, 0, 0, 0.521);
    width: 100vw;
    height: 40.3vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

}

.text-overlay {
    position: absolute;
    height: 100%;
    transform: translate(0, 5%);
    z-index: 3;
    width: 100%;
    object-fit: scale-down;
}

.text-container {

    padding: 5vw 10vw 0 10vw;
    color: rgba(255, 255, 255, 0.453);

    >h2 {
        font-family: "Pinyon Script", cursive;
        font-size: xx-large;
        font-weight: 950;
    }

    >h4 {
        font-size: x-large;
        font-family: "San Francisco";
        font-weight: 400;
        src: <url>("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");

    }
}

.products{
    padding: 200px;
}
.products-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.products-container img {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.pillow {
    display: block;
    .pillow img {
        width: 113%;
    }
    img {
        border: solid 10px transparent;
    }
    img:hover {
        border-color: rgb(0, 128, 128);
        color: #111;
        background: none;
        border: none;
        filter: drop-shadow(5px 5px 5px #222);
        -webkit-filter: drop-shadow(5px 5px 5px rgb(7, 218, 182));
    }
}

.board {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    display: block;
    width: 70%;
    img {
        border: solid 10px transparent;
        width: 20;
    }
    img:hover {
        border-color: rgb(0, 128, 128);
        color: #111;
        background: none;
        border: none;
        filter: drop-shadow(5px 5px 5px #222);
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 255, 221, 0.623));
    }

}

.car {
    grid-row: 1;
    grid-column: 1 / 3;
    display: block;
    img {
        border: solid 10px transparent;

    }
    img:hover {
        border-color: rgb(0, 128, 128);
        color: #111;
        background: none;
        border: none;
        filter: drop-shadow(5px 5px 5px #222);
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 255, 221, 0.658));
    }
}

.schnitzel {
    display: block;
    img {
        border: solid 10px transparent;
    }
    img:hover {
        border-color: rgb(0, 128, 128);
        color: #111;
        background: none;
        border: none;
        filter: drop-shadow(5px 5px 5px #222);
        -webkit-filter: drop-shadow(8px 5px 5px rgba(0, 255, 170, 0.568));
    }

}

.footer {
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.521);
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0px;


    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.04),
            rgb(0, 0, 0) 100%);
    border-top: 2px solid hsla(179, 92%, 48%, 0.375);
    border-bottom: 2px solid hsla(179, 92%, 48%, 0.375);
    border-radius: 2px;
    box-shadow: -5px 10px 49px 0px rgba(43, 135, 181, 0.58);
    -webkit-box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    -moz-box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
}


.social-icons {
    height: 30px;
    padding-top: 10px;
}

.social-container {
    height: 40px;
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-container a {
    display: block;
    padding: 0 10px;
}