* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(34, 24, 4, 1) 0%, rgba(56, 3, 6, 1) 35%);
}



.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.614);
    height: 40px;
    border-top: 2px solid hsla(179, 92%, 48%, 0.375);
    border-bottom: 2px solid hsla(179, 92%, 48%, 0.375);
    border-radius: 2px;
    box-shadow: -webkit-box-shadow: -5px 10px 49px 0px rgba(43, 135, 181, 0.58);
    -webkit-box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    -moz-box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);

}

.icons {
    height: 20px;
    padding-top: 10px;
    }

.icon-container{
    height: 40px;
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pulse {
    animation: pulse-animation 3s infinite;
}

@keyframes pulse-animation {
    20% {
        border-top: 1px solid hsla(179, 92%, 48%, 0.375);
        border-bottom: 1px solid hsla(179, 92%, 48%, 0.375);
    }

    50% {
        border-top: 1px solid rgba(9, 161, 232, 0.401);
        border-bottom: 1px solid rgba(6, 145, 196, 0.597);


    }

    75% {
        border-top: 1px solid hsla(179, 92%, 48%, 0.375);
        border-bottom: 1px solid hsla(179, 92%, 48%, 0.559);
    }
}

.tlv-container{
    position: relative;
}

.tlv{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    border: none;
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.337);
    width: 100vw;
    height: 40vh;
}