* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2, 0, 36);
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(34, 24, 4, 1) 0%, rgba(56, 3, 6, 1) 35%);
    overflow-x: hidden;

}




.nav {
    position: sticky;
    top: 0;
    z-index: 6;
}

.nav-container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: rgba(22, 1, 2);
    height: 40px;
    border-top: 2px solid hsla(179, 92%, 48%, 0.375);
    border-bottom: 2px solid hsla(179, 92%, 48%, 0.375);
    border-radius: 2px;
    box-shadow: -5px 10px 49px 0px rgba(43, 135, 181, 0.58);
    -webkit-box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    -moz-box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
    z-index: 7;
    position: relative;

}

.icons {
    height: 20px;
    padding-top: 10px;
    z-index: 5;
    display: inline-block;
    transition: transform 0.3s ease;

}

.icons:hover {
    transform: translateY(-3px);

}

.icon-container {
    height: 40px;
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-container a {
    display: block;
    padding: 0 10px;
}

.pulse {
    animation: pulse-animation 3s infinite;
}

@keyframes pulse-animation {
    20% {
        border-top: 1px solid hsla(179, 92%, 48%, 0.375);
        border-bottom: 1px solid hsla(179, 92%, 48%, 0.375);
    }

    50% {
        border-top: 2px solid rgba(9, 31, 232, 0.401);
        border-bottom: 1px solid rgba(6, 66, 196, 0.911);


    }

    75% {
        border-top: 1px solid hsl(179, 92%, 48%);
        border-bottom: 1px solid hsl(179, 92%, 48%);
    }
}

.tlv-container {
    position: relative;
}


.tlv {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    border: none;
    z-index: 1;


}

.overlay {
    background-color: rgba(0, 0, 0, 0.521);
    width: 100vw;
    height: 40.3vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

}

.text-overlay {
    position: absolute;
    height: 100%;
    transform: translate(0, 5%);
    z-index: 3;
    width: 100%;
    object-fit: scale-down;
}

.text-container {

    padding: 5vw 10vw 0 10vw;
    color: rgba(255, 255, 255, 0.453);

    >h2 {
        font-family: "Pinyon Script", cursive;
        font-size: xx-large;
        font-weight: 950;
    }

    >h4 {
        font-size: x-large;
        font-family: "San Francisco";
        font-weight: 400;
        src: <url>("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");

    }
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 200px 20px;
}

.product-info {
    height: 400px;
    width: 800px;
    background-color: white;
    font-size: medium;
    overflow: scroll;
    position: relative;
}
.product-info-container {
    padding: 5%;
    position: absolute;
    
    
    }
    
    .product-info-container a:visited {
        text-decoration: transparent; !important
        color: inherit; !important
    }

.footer {
    position: relative;

}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.521);
    width: 100%;
    height: 10vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.04), rgb(0, 0, 0) 100%);
    border-top: 2px solid hsla(179, 92%, 48%, 0.375);
    border-radius: 2px;
    box-shadow: -1px -5px 49px 6px rgba(43, 135, 181, 1);
}


.social-icons {
    height: 30px;
    padding-top: 10px;
    display: inline-block;
    transition: transform 0.3s ease;

}

.social-icons:hover {
    transform: translateY(-6px);

}

.social-container {
    height: 40px;
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.social-container a {
    display: block;
    padding: 0 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;

    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border: none;
    transition: 400ms;
}

.button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}



.button:hover {
    background-color: white
}

.button:hover .text {
    color: #181717;
}




.pillowimage {
    width: 50%;
    position: relative;
    transition: opacity 0.3s ease;
}

.pillowimage img {
    width: 80%;
    display: block;
    height: auto; 
}

.pillowimage:hover img {
    opacity: 0;
}

.pillowimage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/pillowhover.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.pillowimage:hover::before {
    opacity: 1;
}